################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComputersApi/bin/Debug/netcoreapp3.1
/.vs/ComputersApi
/ComputersApi/obj
*.user
